### Part A

In [ ]:
# HERE YOU WILL WRITE CODE TO TEST A NUMBER OF PREDICTORS
# AND FINALLY CHOOSE AND TRAIN THE PREDICTOR THAT YOU WILL BE USING FOR PART B

In [17]:
import pandas as pd
import numpy as np

In [12]:
data_df = pd.read_csv('CE802_P2_Data.csv')

In [13]:
data_df.shape

(1000, 22)

In [14]:
data_df.head(5)

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F13,F14,F15,F16,F17,F18,F19,F20,F21,Class
0,13146.09,0.72,7435.16,8.4494,-7.4760,0,-12.4365,-17.259,-67.900,-2964.93,...,-16.107,-44577.510,10.7280,36.186,16.562850,3021.22,0,3669.7200,-29.26,True
1,12317.79,1.72,7503.04,7.7752,-6.6531,0,-17.3760,-23.109,-64.010,-2936.40,...,-17.826,-44586.630,8.8566,20.619,16.486371,3489.32,0,3744.1880,-29.24,False
2,13654.29,0.72,7709.40,9.1180,-5.5212,1,-14.8380,-23.454,-42.869,-3005.28,...,-18.744,-44615.366,9.4040,21.630,18.880200,3471.59,1,3779.6600,NaN,False
3,12713.67,1.72,7403.88,14.4380,-4.4715,0,-11.3466,-14.433,-38.565,-3043.26,...,-16.935,-44710.120,10.1084,3.656,20.610000,3406.62,1,3700.0600,-27.18,False
4,17194.29,1.72,7446.12,10.9880,-6.2214,0,-12.6738,-23.805,-38.522,-3477.56,...,-18.762,-44597.500,8.4616,5.260,19.680000,3504.97,1,3733.9424,-27.20,True

In [18]:
Missing_percentage = (data_df.isnull().sum()/data_df.shape[0])*100
print(np.round(Missing_percentage, decimals=2))

F1        0.0
F2        0.0
F3        0.0
F4        0.0
F5        0.0
F6        0.0
F7        0.0
F8        0.0
F9        0.0
F10       0.0
F11       0.0
F12       0.0
F13       0.0
F14       0.0
F15       0.0
F16       0.0
F17       0.0
F18       0.0
F19       0.0
F20       0.0
F21      50.0
Class     0.0
dtype: float64

In [19]:
data_df.isnull().sum()

F1         0
F2         0
F3         0
F4         0
F5         0
F6         0
F7         0
F8         0
F9         0
F10        0
F11        0
F12        0
F13        0
F14        0
F15        0
F16        0
F17        0
F18        0
F19        0
F20        0
F21      500
Class      0
dtype: int64

In [11]:
train_df.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,500.000000
mean,13306.414531,1.249000,7605.249169,8.830532,-6.493792,0.481000,-13.530040,-13.723075,-46.182299,-3323.712611,...,3.201917,-15.713618,-44667.590711,10.157217,19.083417,17.922791,3110.155867,0.507000,4042.126051,-28.907040
std,2108.672583,0.499408,1023.164795,1.799838,1.842535,0.499889,2.560369,2.609035,10.285697,1058.036210,...,1.805553,2.708288,1688.229804,1.802407,9.723283,2.015813,1037.177844,0.500201,747.470842,2.125496
min,2116.290000,0.720000,645.560000,6.882760,-14.793000,0.000000,-24.189000,-24.495000,-117.810000,-14453.360000,...,1.224240,-26.316000,-97388.150000,8.285980,-19.260000,16.470003,-4662.480000,0.000000,-0.070000,-35.780000
25%,12463.057500,0.720000,7334.160000,7.427150,-7.633500,0.000000,-14.625000,-14.878500,-48.982500,-3395.360000,...,1.814900,-16.902750,-44638.260000,8.803650,12.933500,16.601055,2996.645000,0.000000,3726.776750,-30.390000
50%,12891.360000,1.720000,7583.337000,8.249600,-6.092250,0.000000,-12.716250,-12.957150,-43.112000,-3085.050000,...,2.644500,-14.861100,-44618.931000,9.594500,19.160100,17.170800,3316.720000,1.000000,3853.480000,-28.810000
75%,13586.415000,1.720000,7873.360000,9.796500,-5.033100,1.000000,-11.637000,-11.769975,-39.222000,-2913.660000,...,4.027000,-13.699425,-44600.115000,10.894000,25.219500,18.388575,3510.300000,1.000000,4122.980000,-27.440000
max,27751.290000,1.720000,15453.560000,15.684000,-4.171776,1.000000,-10.833870,-10.956660,-36.032328,2970.640000,...,10.196000,-12.846600,-40901.150000,17.390000,50.500000,33.924000,7667.520000,1.000000,9022.930000,-22.160000

### Part B

In [ ]:
# HERE YOU WILL USE THIS TEMPLATE TO SAVE THE PREDICTIONS ON THE TEST SET

# Load the test data
test_df = pd.read_csv('CE802_P2_Test.csv')

# Make sure you work on a copy
test_data = test_df.iloc[:,:-1].copy()

predicted = ... # CHANGE HERE -- use your previously trained predictor and apply it to test_data
                # (test_data can be modified if needed but make sure you don't change the order of the rows)...

# Replace the last (empty) column with your prediction
test_df.iloc[:,-1] = predicted

# Save to the destination file
test_df.to_csv('CE802_P2_Test_Predictions.csv', index=False, float_format='%.8g')

# IMPORTANT!! Make sure only the last column has changed
assert pd.read_csv('CE802_P2_Test.csv').iloc[:,:-1].equals(pd.read_csv('CE802_P2_Test_Predictions.csv').iloc[:,:-1])